:root {
    --content-width: 1000px;
    --logo-width: 120px;
    --primary: #0066ff;
    --secondary: #ff6600;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
    font-size: 26px;
    font-family: futura-pt;
    color: #222;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 400px 1fr;
}

body:nth-child(1) {
    background-color: blue;
    display: block;
}

body:nth-child(2) {
    background-color: red;
}

body:nth-child(3) {
    background-color: green;
}

.content {
    width: var(--content-width);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.bar {
    background-color: #222;
    height: 80px;
    width: 100%;
    box-shadow: 0 0px 16px 0 #000;
}

.title {
    display: grid;
    grid-template-columns: var(--logo-width) 1fr;
    line-height: large;
}

.title img {
    width: var(--logo-width);
    user-select: none;
    -webkit-user-drag: none;
}

.title hr {
    border: 2px solid #222;
}

.title-words {
    position: relative;
    padding-left: 40px;
}

.bottom-text {
    overflow: hidden;
}

.bottom-text h1 {
    animation: slideDown 0.5s ease; 
}

@keyframes slideDown {
    0% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0);
    }
}