@import '/share/style/animations.css';

:root {
    --pad: 10vh;
}

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    color: #222;
    font-size: 26px;
    font-family: futura-pt;
    overflow: hidden;
}

.grid {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: var(--pad) auto var(--pad) auto var(--pad) 1fr var(--pad);
    min-height: 650px;
}

.title {
    position: relative;
    margin: 0 auto;
    display: flex;
    grid-row: 2;
    height: 80px;
}

.nav {
    width: calc(calc(calc(100vh - calc(4 * var(--pad))) - 114px)*calc(16/9));
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-row: 4;
    overflow: hidden;
    min-height: 34px;
}

.nav > * {
    transform: translateX(0);
    animation: slideUp 1.0s ease;
    color: #222;
    text-decoration: none;
}

.nav *:hover::before {
    width: 100%;
}

.nav *::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0;
    overflow: hidden;
    height: 2px;
    border-bottom: 2px solid #222;
    transition: width 0.5s ease;
}

.images {
    position: relative;
    display: grid;
    grid-template-columns: auto calc(calc(calc(100vh - calc(4 * var(--pad))) - 114px)*calc(16/9)) auto;
    grid-row: 6;
}

@media only screen and (max-height: 650px) {
    body {
        overflow-y: scroll;
    }

    .grid {
        grid-template-rows: 65px 80px 65px auto 65px 1fr 65px;
    }

    .nav {
        width: 490px;
    }

    .images {
        grid-template-columns: auto 490px auto;
    }
}

@media only screen and (max-width: 1080px) and (min-height: 650px) {
    .grid {
        grid-template-rows: var(--pad) 80px var(--pad) auto var(--pad) 40vw auto;
    }

    .nav {
        width: calc(40vw*calc(16/9));
    }

    .images {
        grid-template-columns: auto calc(40vw*calc(16/9)) auto;
    }
}

@media only screen and (max-width: 1080px) and (max-height: 650px) {
    body {
        overflow-y: scroll;
    }

    .grid {
        grid-template-rows: 65px 80px 65px auto 65px 40vw 1fr;
    }

    .nav {
        width: calc(40vw*calc(16/9));
    }

    .images {
        grid-template-columns: auto calc(40vw*calc(16/9)) auto;
    }
}

@media only screen and (max-width: 650px) {
    .nav {
        width: calc(40vw*calc(16/9));
        margin: 0 auto;
        display: grid;
        grid-row: 4;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .nav > div {
        margin: auto;
    }

    .nav > * {
        animation: slideLeft 1.5s ease; 
    }
}