:root {
    --primary: #0066ff;
    --secondary: #ff6600;
    --pad: 10vh;
}

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    color: #222;
    font-size: 26px;
    font-family: futura-pt;
    overflow: hidden;
}

.grid {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: var(--pad) auto var(--pad) auto var(--pad) 1fr var(--pad);
    min-height: 650px;
}

.title {
    position: relative;
    margin: 0 auto;
    display: flex;
    grid-row: 2;
    height: 80px;
}

.nav {
    width: calc(calc(calc(100vh - calc(4 * var(--pad))) - 114px)*calc(16/9));
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-row: 4;
    overflow: hidden;
    min-height: 34px;
}

.nav > * {
    animation: slideUp 1.5s ease; 
}

@keyframes slideUp {
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0);
    }
}

.images {
    position: relative;
    display: grid;
    grid-template-columns: auto calc(calc(calc(100vh - calc(4 * var(--pad))) - 114px)*calc(16/9)) auto;
    grid-row: 6;
}

@media only screen and (max-height: 650px) {
    body {
        overflow-y: scroll;
    }

    .grid {
        grid-template-rows: 65px auto 65px auto 65px 1fr 65px;
    }

    .nav {
        width: 490px;
    }

    .images {
        grid-template-columns: auto 490px auto;
    }
}

@media only screen and (max-width: 1080px) and (min-height: 650px) {
    .grid {
        grid-template-rows: var(--pad) auto var(--pad) auto var(--pad) 40vw auto;
    }

    .nav {
        width: calc(40vw*calc(16/9));
        font-size: 3vw;
    }

    .images {
        grid-template-columns: auto calc(40vw*calc(16/9)) auto;
    }
}

@media only screen and (max-width: 1080px) and (max-height: 650px) {
    body {
        overflow-y: scroll;
    }

    .grid {
        grid-template-rows: 65px auto 65px auto 65px 40vw 1fr;
    }

    .nav {
        width: calc(40vw*calc(16/9));
        font-size: 3vw;
    }

    .images {
        grid-template-columns: auto calc(40vw*calc(16/9)) auto;
    }
}