:root {
    --content-width: 1000px;
    --logo-width: 120px;
    --primary: #0066ff;
    --secondary: #ff6600;
}

body {
    padding: 0;
    margin: 0;
    color: #222;
    font-size: 26px;
    font-family: futura-pt;
}

.page {
    background-color: #222;
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-rows: 300px 80px 1000px;
}

.bar-container {
    background-color: #222;
    color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 8px #0008;
    z-index: 1;
}

.title-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.title-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-image: url(images/web-code.PNG);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);*/
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.title-logo, .title-logo img {
    background-color: none;
    height: 150px;
}

.title-logo img {
    user-select: none;
    -webkit-user-drag: none;
    
}

.title-words {
    background-color: none;
    padding-left: 40px;
}

.title-words-content {
    background-color: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    color: #222;
}

.title-words-content p, .title-words-content hr {
    margin: 0;
    padding: 0;
}

.title-words-content hr {
    border: 2px solid #222;
}

.title-words-bottom {
    overflow: hidden;
}

.title-words-bottom p {
    animation: slideDown 0.5s ease; 
}

@keyframes slideDown {
    0% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0);
    }
}

.promo-container {
    background-color: #222;
    position: relative;
    width: 800px;
    height: 600px;
    left: 50%;
    transform: translateX(-50%);
}

.promo {
    background-color: none;
    position: absolute;
    width: 800px;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 16px 0px #0008;
}

.promo-code img {
    position: absolute;
    width: 100%;
}

.promo-code img:hover, .promo-visual img:hover {
    cursor: pointer;
}

.promo-visual img {
    position: absolute;
    width: 100%;
    clip-path: polygon(
        100% 0,
        100% 100%,
        0 100%
    );
    transition: clip-path 1.0s ease;
}