:root {
    --content-width: 1000px;
    --logo-width: 120px;
    --primary: #0066ff;
    --secondary: #ff6600;
}

body {
    padding: 0;
    margin: 0;
    color: #222;
    font-size: 26px;
    font-family: futura-pt;
}

.page {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 80px 300px 1fr;
}

.bar-container {
    background-color: #222;
    color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
}

.title-container {
    background-color: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.title-logo, .title-logo img {
    background-color: none;
    height: 150px;
}

.title-logo img {
    user-select: none;
    -webkit-user-drag: none;
}

.title-words {
    background-color: none;
    padding-left: 40px;
}

.title-words-content {
    background-color: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
}

.title-words-content p, .title-words-content hr {
    margin: 0;
    padding: 0;
}

.title-words-content hr {
    border: 2px solid #222;
}

.title-words-bottom {
    overflow: hidden;
}

.title-words-bottom p {
    animation: slideDown 0.5s ease; 
}

@keyframes slideDown {
    0% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0);
    }
}

.promo-container {
    background-color: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.promo {
    background-color: none;
    position: absolute;
    width: 800px;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.promo-code img {
    position: absolute;
    width: 100%;
}

.promo-code:hover + .promo-visual {
    filter:brightness(80%);
}

.promo-visual:hover + .promo-code {
    filter:brightness(80%);
}

.promo-visual img {
    position: absolute;
    width: 100%;
    clip-path: polygon(
        800px 0,
        800px 450px,
        0 450px
    );
    transition: clip-path 1.0s ease;
}