@import '/share/style/all.css';
@import '/share/style/animations.css';
@import '/share/style/bar.css';

:root {
    --pad: 100px;
}

.preload * {
    animation-play-state: paused !important;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    color: #222;
    font-size: 26px;
    font-family: futura-pt;
}

.page {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 400px 2px 1fr;
}

.outline {
    position: fixed;
    margin: 100px 50px 100px 100px;
    width: 250px;
}

.divider {
    position: fixed;
    border-left: 2px solid #222;
    margin: 50px 0 0 400px;
    height: calc(100vh - 200px);
}

.content {
    margin: 100px 100px 100px 50px;
}

h2 {
    font-weight: normal;
}